name: CI/CD Pipeline for PHP

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Deploy via SSH
      env:
        SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }}
        EC2_USER: 'ubuntu'  # Update this to the username for your EC2 instance
        EC2_HOST: '13.235.27.24'  # Replace with your EC2 instance's public DNS or IP address
      run: |
        echo "$SSH_PRIVATE_KEY" > key && chmod 600 key
          ssh -o StrictHostKeyChecking=no -i key ${EC2_USER}@${EC2_HOST} '

          # Update this to the directory where your PHP app should be deployed
          cd /var/www/html/PHP &&
          git pull origin master
          '
